.fadein[fadein='1'] {
    animation: fadein  0.5s 1;
}

@keyframes fadein {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}